<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {% block title %}
        {% endblock %}
        <!-- Favicon-->

        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- DataTable-->
        {% block links %}
        {% endblock %}

    </head>
    <body class="d-flex flex-column h-100">
                {% block content %}
                {% endblock %}


                {% block scripts %}
                {% endblock %}
    </body>
</html>